<mat-tab-group>
  <mat-tab label="Edit Product">
        <form>
          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Name</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select>
              <mat-option></mat-option>
            </mat-select>
            <mat-label>Subcategory</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Brand</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Model</mat-label>
          </mat-form-field>


          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Price</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Quantity</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Description</mat-label>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <input matInput>
            <mat-label>Warranty Months</mat-label>
          </mat-form-field>
          <button>Edit</button>
        </form>
  </mat-tab>
</mat-tab-group>
