/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #1c8aac !important;
}

.mat-focused .mat-form-field-label {
  color: #1c8aac !important;
}

.mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0 .75em 0 .75em;
  margin-top: 1.75em !important;
  position: relative;
  height: 45px !important;
}

.mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}

.mat-form-field-flex > .mat-form-field-infix {
  padding: .9em !important;
}

.mat-focused .mat-form-field-label {
  margin-top: -1px !important;
  margin-left: 24px !important;
}

.mat-form-field-label {
  top: 26px !important;
  margin-left: 22px;
}
